* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

@font-face {
  font-family: roboto-regular;
  src: url("./graphics/Roboto-Regular.ttf");
}

@font-face {
  font-family: playfair;
  src: url("./graphics/PlayfairDisplay-VariableFont_wght.ttf");
}

h1, 
h2, 
h3, 
h4 {
  font-family: playfair;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

h2 {
  font-size: 2rem;
  margin: 10px 0;
  text-align: center;
}

h3 {
  font-size: 1.9rem;
  color: white;
}

h4 {
  font-size: 1.4rem;
  color: black;
}

p {
  font-family: roboto-regular;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.section.blue {
  background-color: #0991B1;
}

.slant {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(175deg, #0991B1 77%, #fff 77%);
  height: 500px;
  z-index: -2;
}

.tablet-container {
  display: none;
}

#about-me {
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: transparent;
}

.center-vertically {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.profile-pic {
  background-image: url("./graphics/bear-portrait.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.about-inner {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 280px 1fr;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-me-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.icon1 {
  width: 25px;
  height: auto;
}

.icon2 {
  width: 30px;
  height: auto;
}

.icon3 {
  width: 25px;
  height: auto;
}

#my-work {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

#my-work p {
  color: black;
}

.project-cards {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 50px;
}

.project {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.screenshot {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-details {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.project-icons {
  display: flex;
  gap: 15px;
}

#project1 {
  background-color: #9E1B1D;
}

#project2 {
  background-color: #7C75C9;
}

#project3 {
  background-color: #5E8F4C;
}

#project4 {
  background-color: #C363B4;
}

#project5 {
  background-color: #D78F39;
}

#project6 {
  background-color: #4997D0;
}

#contact-me {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

#contact-me > * {
  color: white;
}

.contact-me-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 30px;
}

.angry-bear-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./graphics/angry-bear.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  justify-content: center;
  height: 400px;
}

.angry-bear {
  width: 500px;
  height: auto;
}

.icon-div {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin: 8px 0;
}

.contact-me-icons {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  justify-content: center;
}

.contact-me-div > div {
  margin: 5px 10px;
}

/* div {
  border: 1px solid purple;
} */

@media only screen and (min-width: 750px) {
  h2 {
    text-align: left;
  }

  #about-me {
    display: none;
  }

  .tablet-container {
    margin-top: 100px;
    display: block;
  }

  .tablet-about {
    display: inline;
    padding: 0;
  }

  .tablet-name {
    margin-top: -65px;
    margin-left: 390px;
    font-size: 3rem;
    position: absolute;
  }

  .tablet-img {
    float: left;
    margin: -30px 50px;
    height: 400px;
    shape-outside: inset(1px 25px);
  }

  .tablet-div {
    margin: 50px auto;
    width: 80%;
    background-color: white;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .tablet-div p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  #my-work {
    padding: 70px;
  }

  .project-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px 0;
  }

  .project {
    width: 300px;
  }

  .screenshot {
    height: 250px;
  }

  #contact-me {
    grid-template-columns: 1fr 1fr;
    padding: 70px;
  }

  .contact-me-div {
    padding: 10px;
  }

  .contact-me-icons {
    justify-content: left;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    text-align: center;
  }
  
  .tablet-container {
    display: none;
  }

  #about-me {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 2fr;
    padding: 70px;
  }

  .profile-pic {
    width: 100%;
  }

  .about-outer {
    margin-top: 0;
  }
  
  .about-inner {
    margin: 30px 30px 30px 0px;
    grid-template-rows: 1fr 170px 1fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .center-vertically {
    padding: 10px 20px;
    justify-content: flex-start;
  }

  .about-me-icons {
    gap: 20px;
    justify-content: end;
    margin: 20px;
  }

  .project {
    width: 280px;
    height: 350px;
  }

  .screenshot {
    text-align: center;
  }

  .project-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
  }

  .angry-bear {
    width: 700px;
  }
}

@media only screen and (min-width: 1250px) {
  .project {
    width: 350px;
    height: 450px;
  }
}